.demo {
  width: 100%;
  text-align: center;
  font-family: Poppins;
  padding: 3rem 0;
  user-select: none;
  overflow-x: hidden;
}

.demo .container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.demo p {
  color: #fff;
}

.demo .container .sideByside {
  width: auto;
  display: flex;
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.slide-right {
  transform: translateX(-100px) translateY(100px);
}

.animate-on-scroll.slide-left {
  transform: translateX(50px) translateY(100px);
}

.animate-on-scroll.slide-top {
  transform: translateY(300px);
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.demo .container .modeButtons {
  min-width: 300px;
  border: 2px solid #fff;
  border-radius: 1rem;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

.demo .container .overlay img:last-child {
  background-color: transparent;
  border: none;
  width: 200px;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.demo .container img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border: 2px solid #fff;
  border-radius: 1rem;
}

.demo .container .modes {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.demo .container .modes button {
  padding: 1rem 1.5rem;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 1rem;
}

.demo .container .modes button:hover,
.demo .container .modes button.active {
  background: light-dark(#3cf, #fff);
  color: light-dark(#fff, #333);
}

@media screen and (max-width: 1000px) {
  .demo h1 {
    font-size: 1.4rem;
  }

  .demo .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .demo .container .overlay .media {
    position: relative;
  }

  .animate-on-scroll.slide-right,
  .animate-on-scroll.slide-left,
  .animate-on-scroll.slide-top {
    transform: translateY(100px);
  }

  .demo .container .modeButtons .modes {
    display: flex;
    flex-direction: row;
  }

  .demo .container img {
    height: 250px;
    background-color: #000;
  }

  .demo .container .overlay img:last-child {
    width: 150px;
  }
}

@media (prefers-color-scheme: light) {
  .demo {
    background: radial-gradient(34.99px at 50% 48px, #3cf 99%, #0000 101%)
        calc(50% - 60px) 0/120px 51% repeat-x,
      radial-gradient(34.99px at 50% -18px, #0000 99%, #3cf 101%) 50% 30px/120px
        calc(51% - 30px) repeat-x,
      radial-gradient(34.99px at 50% calc(100% - 48px), #3cf 99%, #0000 101%)
        50% 100%/120px 51% repeat-x,
      radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #3cf 101%)
        calc(50% - 60px) calc(100% - 30px) / 120px calc(51% - 30px) repeat-x;
  }

  .demo .container .modeButtons {
    background: transparent;
  }

  .demo .container .modes button.active,
  .demo .container .modeButtons button:hover {
    background: #fff;
    color: #3cf;
  }

  .demo .sideByside img {
    background-image: linear-gradient(-120deg, #3cf, #c3f);
  }
}
