@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.home {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  width: 70%;
  font-size: 3rem;
  background: linear-gradient(to right, #334eff, #ff3333);
  background-clip: text;
  color: transparent;
  user-select: none;
}

.home p {
  width: 50%;
  color: light-dark(#26a82d, #d8cf83);
  font-weight: 700;
  font-family: Poppins;
  user-select: none;
}

.home .btn {
  position: relative;
  display: inline;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 48px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  z-index: 1;
  user-select: none;
  color: #f1eded;
  border: none;
  cursor: pointer;
}

.home .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #334eff, #f06);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 10px;
  filter: blur(5px);
  transition: 0.5s ease;
}

.home .btn:hover::before {
  background-position: 100% 0;
}

.home .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #334eff, #f06);
  background-position: 0 0;
  z-index: -1;
  border-radius: 10px;
  background-size: 200%;
  transition: 0.5s ease;
}

.home .btn:hover::after {
  background-position: 100% 10%;
}

.zoom {
  animation: zoomIn 1s linear;
  overflow: hidden;
}

.updown {
  animation: upDown 3s linear infinite;
}

@media screen and (max-width: 600px) {
  .home h1 {
    width: 100%;
    font-size: 1.5rem;
  }

  .home p {
    width: 80%;
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: light) {
  .home h1 {
    background-image: linear-gradient(to right, #ec00f9, #00d8f9);
  }
  .home .btn::after,
  .home .btn::before {
    background-image: linear-gradient(45deg, #ec00f9, #00d8f9, #ec00f9);
  }
}

@keyframes zoomIn {
  from {
    font-size: 0;
    filter: blur(20px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
