.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  font-family: Poppins;
  padding: 2rem 0;
  overflow-x: hidden;
}

.product .overview {
  width: 75%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 3px 10px currentColor, 0 5px 20px #3333ee84;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.product .overview::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(-20deg, #ffffffe1, #33ef);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.product .overview:hover::before {
  opacity: 1;
}

.product .overview .content h1 {
  transform: translateY(350%) translateX(-20%);
  transition: all 0.4s ease-in-out;
}

.product .overview .content p {
  padding: 0 1rem;
  opacity: 0;
  color: #ffef;
  transition: all 0.4s ease-in-out;
}

.product .overview img {
  width: 50%;
  object-fit: contain;
  border-radius: 1rem;
  transform: translateX(-30%);
  transition: all 0.4s ease-in-out;
}

.product .overview:hover .content h1 {
  transform: translateY(0) translateX(0);
}

.product .overview:hover img {
  transform: translateX(0);
}

.product .overview:hover .content p {
  opacity: 1;
}

.product .features {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .features .featureslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item4";
}

.autoShow {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.autoShow.slide1 {
  transform: translateX(-100px);
}
.autoShow.slide4 {
  transform: translateX(100px);
}

.autoShow.is-visible {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

#feature1 {
  grid-area: item1;
}
#feature2 {
  grid-area: item2;
}
#feature3 {
  grid-area: item3;
}
#feature4 {
  grid-area: item4;
}
.product .features .featureslist .feature {
  position: relative;
  z-index: 1;
  min-height: max-content;
  box-shadow: 0 3px 10px currentColor, 0 3px 10px #33ef;
  border-radius: 1rem;
  padding: 0.5rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: linear-gradient(
    -120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  color: light-dark(#222, #ffef);
  overflow: hidden;
}

.product .features .featureslist .feature::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(120deg, #ffffffe1, #33ef);
  opacity: 0;
  transition: opacity 0.8s linear;
}

.product .features .featureslist .feature:hover::before {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .product h1 {
    font-size: 1.4rem;
  }
  .product .overview {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 0;
  }
  .product .overview img {
    width: 100%;
    transform: translateY(-100px);
  }
  .product .overview .content h1 {
    transform: translateY(0) translateX(0);
  }
  .product .features .featureslist {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }

  .autoShow.slide1,
  .autoShow.slide2,
  .autoShow.slide3,
  .autoShow.slide4 {
    transform: translateY(100px);
  }

  .product .overview:hover img {
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
  }
}

@media (prefers-color-scheme: light) {
  .product {
    background: #ffffff9e;
  }
  .product .overview,
  .product .features .featureslist .feature {
    background-image: linear-gradient(#74cbc771 0%, #dcf6c8 90%);
    color: #222;
  }

  .product .overview:hover,
  .product .features .featureslist .feature:hover {
    background-image: linear-gradient(#3cf, #c3f);
    color: #fff;
  }
}
