.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  font-family: Poppins;
  padding: 2rem 0;
}

.product .overview {
  width: 75%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  box-shadow: 0 3px 10px currentColor, 0 5px 20px #33ef;

  transition: all 0.4s ease-in-out;
  &:hover {
    background-image: linear-gradient(-20deg, #ffffffe1, #33ef);
  }
}

.product .overview .content h1 {
  transform: translateY(350%) translateX(-20%);
  transition: all 0.4s ease-in-out;
}

.product .overview .content p {
  padding: 0 1rem;
  opacity: 0;
  color: #ffef;
  transition: all 0.4s ease-in-out;
}

.product .overview img {
  width: 50%;
  object-fit: contain;
  border-radius: 1rem;
  transform: translateX(-30%);
  transition: all 0.4s ease-in-out;
}

.product .overview:hover .content h1 {
  transform: translateY(0) translateX(0);
}

.product .overview:hover img {
  transform: translateX(0);
}

.product .overview:hover .content p {
  opacity: 1;
}

.product .features {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .features .featureslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item4";
}

#feature1 {
  grid-area: item1;
  animation: appearLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#feature2 {
  grid-area: item2;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#feature3 {
  grid-area: item3;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#feature4 {
  grid-area: item4;
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.product .features .featureslist .feature {
  min-height: max-content;
  box-shadow: 0 3px 10px currentColor, 0 3px 10px #33ef;
  border-radius: 1rem;
  padding: 0.5rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-image: linear-gradient(
    -120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  color: light-dark(#222, #ffef);
  transition: all 0.4s ease-in-out;
}

.product .features .featureslist .feature:hover {
  background-image: linear-gradient(120deg, #ffffffe1, #33ef);
  color: light-dark(#ffef, #222);
}

@media screen and (max-width: 900px) {
  .product h1 {
    font-size: 1.4rem;
  }
  .product .overview {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 0;
  }
  .product .overview img {
    width: 100%;
    transform: translateY(-100px);
  }
  .product .overview .content h1 {
    transform: translateY(0) translateX(0);
  }
  .product .features .featureslist {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }

  #feature1 {
    animation: appearX linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  #feature2 {
    animation: appearX linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  #feature3 {
    animation: appearX linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  #feature4 {
    animation: appearX linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .product .overview:hover img {
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
  }
}

@media (prefers-color-scheme: light) {
  .product {
    background: #ffffff9e;
  }
  .product .overview,
  .product .features .featureslist .feature {
    background-image: linear-gradient(#74cbc771 0%, #dcf6c8 90%);
    color: #222;
  }

  .product .overview:hover,
  .product .features .featureslist .feature:hover {
    background-image: linear-gradient(#3cf, #c3f);
    color: #fff;
  }
}

@keyframes appearX {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  80% {
    transform: translateY(150px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
