.techslider {
  text-align: center;
  height: 350px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #fff 20% 80%, transparent);
  user-select: none;
  font-size: 1.2rem;
  padding: 0 0 2rem 0;
}

.tech-container {
  width: 100%;
  width: calc(var(--quantity) * 250px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.tech-card {
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  box-shadow: 0 3px 10px currentColor;
  transition: all 0.3s ease;
  position: absolute;
  left: -200px;
  animation: autoRunSlider 12s linear infinite;
  animation-delay: calc(
    var(--time) / var(--quantity) * (var(--position)) - 12s
  );
}

.tech-icon {
  color: light-dark (#0066cc, #fff);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
}

.tech-icon p {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  color: light-dark(#0066cc, #fff);
}

.tech-icon img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.tech-container:hover .tech-card {
  animation-play-state: paused;
  filter: grayscale(1);
}
.tech-container .tech-card:hover {
  filter: grayscale(0);
}

.tech-card:hover p {
  opacity: 1;
}

.tech-container .tech-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(200deg, #787878c2, #00000080);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.tech-container .tech-card:hover::before {
  opacity: 1;
}

@keyframes autoRunSlider {
  to {
    left: 120%;
  }
}

@media (prefers-color-scheme: light) {
  .techslider {
    background: #ffffff9e;
  }
  .tech-card {
    background: #fff;
    backdrop-filter: blur(100px);
    box-shadow: 0 3px 10px #0066cc;
  }
}
