@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");
html {
  scroll-padding-top: 90px;
}
:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffffde;
  background: #555;
  background-image: url("./assets/loading/dark.png");
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  --color1: light-dark(#fff, #333);
  --color2: light-dark(#3cf, #334eff);
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 10px;
}
/* 
::-webkit-scrollbar-track {
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-image: linear-gradient(to top, var(--color2) 10%, transparent 80%);
} */

h1 {
  font-family: "Audiowide", sans-serif;
  color: light-dark(#333, #ffef);
}

p {
  font-family: Poppins;
}

.circle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  box-shadow: currentColor 0 0 0 1px;
}

@media (prefers-color-scheme: light) {
  body {
    --s: 100px;
    --c1: #c3f; 
    --c2: #1fc9e3; 
    --c3: #ffffff;

    background: conic-gradient(
          from 75deg,
          var(--c1) 15deg,
          var(--c2) 0 30deg,
          #0000 0 180deg,
          var(--c2) 0 195deg,
          var(--c1) 0 210deg,
          #0000 0
        )
        calc(var(--s) / 2) calc(0.5 * var(--s) / tan(30deg)),
      conic-gradient(
        var(--c1) 30deg,
        var(--c3) 0 75deg,
        var(--c1) 0 90deg,
        var(--c2) 0 105deg,
        var(--c3) 0 150deg,
        var(--c2) 0 180deg,
        var(--c3) 0 210deg,
        var(--c1) 0 256deg,
        var(--c2) 0 270deg,
        var(--c1) 0 286deg,
        var(--c2) 0 331deg,
        var(--c3) 0
      );
    background-size: var(--s) calc(var(--s) / tan(30deg));
    animation: scroll-bg ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 500%;
    animation-delay: 0s;
  }
}

@media screen and (max-width: 900px) {
  .circle {
    display: none;
  }
  .footer h2{
    font-size: 1.2rem;
  }
}

@keyframes scroll-bg {
  from {
    background-position: 0 -1000px;
  }
  to {
    background-position: 0 1000px;
  }
}
